.recommendations-container h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: 600;
  }
  
  .tables-container {
    display: flex;
    flex-wrap: wrap; /* Allows tables to wrap onto new lines on smaller screens */
    justify-content: space-around; /* Distributes tables evenly */
  }
  
  .table-wrapper {
    width: 30%; /* Adjust as needed for spacing; ensure sum is less than 100% for margins */
    margin-bottom: 20px; /* Add some space between tables */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
  }
  
  /* Responsive adjustments for smaller screens */
  @media (max-width: 768px) {
    .table-wrapper {
      width: 100%; /* Make tables full width on smaller screens */
    }
  }